.portfolio_text {
  font-size: 16px;
  line-height: 1.6; /* Покращує читабельність */
  text-align: center; /* Вирівнюємо текст по ширині */
  color: #555; /* Темно-сірий колір */
}

.container {
  max-width: 800px; /* Обмежуємо ширину контейнера */
  margin: 0 auto; /* Центруємо по горизонталі */
  padding: 20px;
  background-color: #1b1b1b; 
}

.content {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.portfolio_image {
  display: flex;
  justify-content: center;
  width: 100%;
}
