.switcher {
  display: flex;
  gap: 0.5rem;
}

.switcher button {
  background-color: transparent;
  border: 1px solid var(--color-brown);
  border-radius: var(--radius-sm);
  padding: 4px 8px;
  font-size: 0.8rem;
  cursor: pointer;
  color: white;
  transition: background-color 0.2s ease;
}

.switcher button:hover {
  background-color: var(--color-brown);
  color: white;
}

.switcher .active {
  background-color: var(--color-brown);
  color: white;
  font-weight: bold;
  border-color: white;
}
