.container {
  max-width: 1200px; /* Максимальна ширина контейнера */
  width: 100%; /* Щоб не було обрізання на маленьких екранах */
  margin: 0 auto; /* Центруємо контент */
  padding: 20px; /* Внутрішні відступи */ 
  background-color: transparent;
}

