:root {
  --font-family-body: 'PlayfairDisplay-VariableFont_wght', sans-serif;
  --font-family-logo: 'Marlboro', sans-serif;

}
@font-face {
  font-family: 'Marlboro';
  src: url('/Fonts/Marlboro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PlayfairDisplay-VariableFont_wght';
  src: url('/Fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  background-image: linear-gradient(
        rgba(46, 47, 66, 0.4),
        rgba(46, 47, 66, 0.4)
      ), url(/assets/images/body_bg_cowboy.jpg);
  background-repeat: round;
  font-family: var(--font-family-body);
  
}

a {
  text-decoration: none;
  color: inherit;
}
.container {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 20px;
    background-color: #1b1b1b; 
  }

