/* .hero{
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(../../assets/images/body_bg_cowboy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.87);
} */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    width: 100%;
  }
  
