/* .container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 20px;
    background-color: #1b1b1b
  } */
  
  /* .content {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  } */
  
  /* .about {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify; 
    color: #FFFFFF; 
  } */
/*   
  a {
    display: inline-block;
    margin-top: 10px;
 
    text-decoration: none;
    font-weight: bold;
  }
   */

/* 
  .contentText{
    display: flex;
    justify-content: center;
  } */
