header {
  padding: 15px 20px;
    }
  
  .logo {
    font-family: var(--font-family-logo), sans-serif; 
    font-size: 70px;
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
  }
