.bookDetails {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xl);
  padding: var(--spacing-xl);
  margin: var(--spacing-xl) auto;
  /* max-width: 1000px; */
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: var(--radius-lg);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: #fff;
}

@media (min-width: 768px) {
  .bookDetails {
    flex-direction: row;
  }
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-md);
  object-fit: cover;
}

.info {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.title {
  font-size: 2rem;
  font-family: var(--font-family-body);
  color: var(--color-titles-light, #fff); /* щоб текст не злився */
}

.author {
  font-weight: bold;
  font-size: 1.2rem;
  color: #eee;
}

.description {
  font-size: 1rem;
  color: #ddd;
}

.price {
  font-size: 1.4rem;
  color: var(--color-accent);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-sm);
  margin-top: auto;
}

.loading,
.error {
  text-align: center;
  color: var(--color-error);
}