/* container {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center; */
  /* height: 100vh;
  width: 1400px; */
/* } */
/* @font-face {
  font-family: 'PlayfairDisplay-VariableFont_wght';
  src: url('/Fonts/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 600;
    font-style: normal;
} */
.container {
  max-width: 1200px; /* Максимальна ширина контейнера */
  width: 100%; /* Щоб не було обрізання на маленьких екранах */
  margin: 0 auto; /* Центруємо контент */
  padding: 20px; /* Внутрішні відступи */ 
}