:root {
  font-family: "Droid Sans", sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ddddd;
  background-color: #242424;
}

body {
  background-image: url(/assets/images/body_bg_cowboy.jpg);
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

a,
Link,
NavLink {
  text-decoration: none;
  color: inherit;
}

/* .container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: #1b1b1b; 
} */