:root {
  font-weight: 600;

  font-style: normal;
  line-height: 1.5;
  color-scheme: light dark;
  color: #ddddd;
  background-color: #242424;
}
/* @font-face {
  font-family: 'Bleeding_Cowboys';
  src: url('fonts/Bleeding_Cowboys.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
} */
body {
  background-image: url(/assets/images/body_bg_cowboy.jpg);
  background-repeat: round;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Marlboro', sans-serif;
  
}

a,
Link,
NavLink {
  text-decoration: none;
  color: inherit;
}

/* .container {
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  background-color: #1b1b1b; 
} */