.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navLeft {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  flex-wrap: wrap;
}

.navRight {
  display: flex;
  align-items: center;
  position: relative;
}

.navLink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
}

.navLink:hover {
  color: var(--color-accent);
}

.dropdown {
  position: relative;
}

.dropdownButton {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
}

.dropdownButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.dropdownMenu {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: var(--radius-sm);
  width: 180px;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.dropdownItem {
  text-decoration: none;
  color: black;
  padding: var(--spacing-sm);
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
}

.searchButton {
  background: transparent;
  border: 1px solid white;
  padding: var(--spacing-sm);
  border-radius: var(--radius-sm);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.searchIcon {
  filter: invert(1);
  transition: filter 0.2s ease;
}

.searchButton:hover .searchIcon {
  filter: invert(0);
}

.searchButton:hover {
  background-color: white;
}

/* ОНОВЛЕНИЙ пошук */
.searchForm {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  padding: var(--spacing-xs) var(--spacing-sm);
  border-radius: var(--radius-sm);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.searchInput {
  max-width: 100%;
  padding: var(--spacing-xs);
  border: 1px solid #ccc;
  font-size: 1rem;
  border-radius: var(--radius-sm);
  color: black;
  background-color: white;
}
